/* _________________________________________________________________________________ FUENTES */
@font-face { font-family: Heebo-Black; src: url('../font/heebo/Heebo-Black.ttf'); }
@font-face { font-family: Heebo-Bold; src: url('../font/heebo/Heebo-Bold.ttf'); }
@font-face { font-family: Heebo-ExtraBold; src: url('../font/heebo/Heebo-ExtraBold.ttf'); }
@font-face { font-family: Heebo-ExtraLight; src: url('../font/heebo/Heebo-ExtraLight.ttf'); }
@font-face { font-family: Heebo-Light; src: url('../font/heebo/Heebo-Light.ttf'); }
@font-face { font-family: Heebo-Medium; src: url('../font/heebo/Heebo-Medium.ttf'); }
@font-face { font-family: Heebo-Regular; src: url('../font/heebo/Heebo-Regular.ttf'); }
@font-face { font-family: Heebo-SemiBold; src: url('../font/heebo/Heebo-SemiBold.ttf'); }
@font-face { font-family: Heebo-Thin; src: url('../font/heebo/Heebo-Thin.ttf'); }
@font-face { font-family: Heebo-VariableFont_wght; src: url('../font/heebo/Heebo-VariableFont_wght.ttf'); }
/* _________________________________________________________________________________ FUENTES */


/* _________________________________________________________________________________ QUÉ ESPERAR DE NOSOTROS */
.titucon1{
	font-family: Heebo-Bold;
	font-size: 2.5em;
	margin-bottom: 1em;
}
.textAlcolD{
	text-align: left;
}

@media (max-width: 800px) {
	.titucon1{
		text-align: center;
	}
	.textAlcolD{
		text-align: center;
	}
}
/* _________________________________________________________________________________ QUÉ ESPERAR DE NOSOTROS */